*{
    padding: 0;
    margin: 0;
    font-family: poppins;
    background-color: black;
    color: #fff;
}
nav{
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}
.logo h1{
    font-size: 1rem;
    font-weight: 700;
}
ul{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
li{
    list-style: none;
    padding-right: 10px;
}
.btn a{
    background-color: yellow;
    padding: 10px;
    color: black;
    text-decoration: none;
}
/* banner */
.banner{
    padding-top: 100px;
    padding-left: 117px;
}
.banner h1{
    font-size: 2rem;
    font-weight: 600;
}
.section3{
    display: flex;
    justify-content: space-around;
    padding: 0 38px;
    margin-top: 60px;
}
.section4{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: auto;
    padding-top: 60px;
}